@import '_variables';

.nav-tabs {
  position: relative;

  &--item {
    text-transform: uppercase;
    padding: 10px 39px;
    color: $black;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .85s cubic-bezier(0.2,0.6,0.35,1);

    &:hover,
    &.active {
      opacity: 1;
    };
  }

  &--highlight {
    position: absolute;
    top: 0;
    width: 4px;
    height: 40px;
    background: $brandPrimary;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

