.lesson-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(#fff, var(--color-n-2));
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  transition: background 0.3s ease;
}

.lesson-card:active {
  background: var(--color-n-4);
}
