@import '_variables';

.app__header-wrapper {
  margin: 0 auto;
  padding: 20px 22px;
  display: flex;
  background-color: var(--headerBg);
  justify-content: space-between;
  flex-wrap: no-wrap;
}

.app__header-navbar > a {
  color: #606466;
  padding-left: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.app__header-navbar > a:hover {
  color: #606466;
}

.app__header-navbar > a.active {
  color: #fff;
}

