@import '_variables';

.app-header {
  &--wrapper {
    margin: 0 auto;
    padding: 20px 22px;
    display: flex;
    background-color: $headerBg;
    justify-content: space-between;
    flex-wrap: no-wrap;
  }

  &--navbar > a,
  &--navbar > span > a {
    color: #606466;
    padding-left: 30px;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      color: #606466;
    }

    &.active {
      color: #fff;
    }
  }
}

