@tailwind base;
@tailwind components;
@tailwind utilities;

/** Spinner */
.spinner {
  height: var(--spinner-size);
  width: var(--spinner-size);
  overflow: hidden;
}

.spinner-size-xs {
  --spinner-size: 12px;
  --spinner-border-width: 3px;
}
.spinner-size-sm {
  --spinner-size: 16px;
  --spinner-border-width: 3px;
}
.spinner-size-md {
  --spinner-size: 24px;
  --spinner-border-width: 3px;
}
.spinner-size-lg {
  --spinner-size: 32px;
  --spinner-border-width: 3px;
}
.spinner-size-xl {
  --spinner-size: 48px;
  --spinner-border-width: 3px;
}

.spinner-color-white {
  --spinner-color: #fff;
}
.spinner-color-black {
  --spinner-color: #000;
}

.spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 1s;
  border-left-width: var(--spinner-border-width);
  border-top-width: var(--spinner-border-width);
  border-left-color: var(--spinner-color, #fff);
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
}

.spinner-line:nth-child(1) {
  animation: atom-spinner-animation-1 1s linear infinite;
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.spinner-line:nth-child(2) {
  animation: atom-spinner-animation-2 1s linear infinite;
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.spinner-line:nth-child(3) {
  animation: atom-spinner-animation-3 1s linear infinite;
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}
