.lesson-content-scroll {
  position: relative;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
.chart-container {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
}
.chart {
  position: absolute;
  right: 1rem;
  background-color: #ddd;
  border: 1px solid #000;
}
.chart p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #666;
}
.steps-container {
  position: relative;
  padding: 0 2rem;
  width: 40%;
}
.step {
  margin: 2rem auto;
  border: 1px solid #333;
}
.step.active {
  background-color: lightgoldenrodyellow;
}
.step p {
  padding: 1rem;
}
.intro {
  margin-bottom: 300px;
}
.outro {
  height: 640px;
}
