.nav {
  --nav-border-color: rgba(161, 162, 164, 0.3);
  --nav-index: 10;
}

.nav {
  position: absolute;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  width: 100%;
  z-index: var(--nav-index);
  transition: transform 0.4s cubic-bezier(0.82, 0, 0.12, 1.4);
}

.nav-container {
  max-width: var(--container-max);
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--nav-border-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  border: 0;
}

.nav-logo svg {
  width: 60px;
  height: 20px;
}

.nav-logo svg > path {
  fill: var(--brand-black);
}

.nav .nav-link {
  color: var(--color-n-6);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 20px;
  position: relative;
  padding: 37px 20px;
  border-bottom: 0;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.nav .nav-link:hover,
.nav .nav-link.active {
  color: var(--title-color);
  box-shadow: 0 1px 0 var(--brand-primary);
}

.nav .nav-item-container .nav-item > .login-button {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--brand-primary);
  border-color: var(--brand-primary);
}

.nav .nav-item-container .nav-item > .login-button:hover {
  color: var(--brand-dark-blue);
  border-color: var(--brand-dark-blue);
}

/* Animation */
.nav.hidden {
  transform: translateY(-100px);
}

/* Light Nav */
.nav.light svg > path {
  fill: #fff;
}

.nav.light a {
  fill: #fff;
}

.nav.light a:hover,
.nav.light a:active {
  color: #fff;
}

.nav.light .nav-link:hover,
.nav.light .nav-link.active {
  color: var(--color-n-1);
}

.nav.light .nav-item-container .nav-item > .login-button {
  color: var(--color-n-6);
  border-color: var(--color-n-6);
}

.nav.light .nav-item-container .nav-item > .login-button:hover {
  color: var(--color-n-1);
  border-color: var(--color-n-1);
}

/* Signup/Login Dialog */
.login-dialog-content {
  padding: 30px 50px;
}

.login-dialog-content h3 {
  margin-bottom: 1rem;
}

.login-dialog-content p {
  font-size: 1.8rem;
  line-height: 1.6;
}

.login-dialog-content .login-links {
  border: 0;
}

.login-dialog-content .login-links .button {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  height: 60px;
}
