@import '../../containers/App/variables';
@import '../../containers/App/mixins';

.about {
  padding: 100px 30px 20px;

  &Container {
    @include container();
    max-width: $container-max-small;
    padding-top: 40px;
    text-align: center;
  }

  &Subtitle {
    font-family: $lato-font;
    text-transform: uppercase;
    color: $brand-primary;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  &Title {
    margin-bottom: 4rem;
  }

  &Details {
    text-align: left;
    line-height: 2;
    font-size: 1.5rem;
  }
}
