@import '../../theme/variables';
@import '../../theme/mixins';

.feed {
  @include container();
  padding: 90px 0 20px;
  display: flex;

  &Content {
    width: 70%;
  }

  @media (#{$bp-smaller-than-mobile}) {
    padding: 90px 15px;
  }
}
