@import '../../containers/App/variables';
@import '../../containers/App/mixins';

.home {
  height: 100%;
  background-color: $brand-black;
  padding: 100px 30px 20px;

  &Container {
    @include container();
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  &Title {
    color: #fff;
    margin-bottom: 10px;
  }

  &Details {
    max-width: 630px;
    margin: 0 auto 60px;
  }

  &Image {
    position: relative;
  }

  &ImageScreen {
    width: 180px;
    height: 70%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-47%);
    border-radius: 3px;

    @media (#{$bp-smaller-than-mobile}) {
      display: none;
    }
  }
}
