/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$button-primary-hover: darken($brand-primary, 5%);

:global {
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $border-color;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: color 0.23s ease, background-color 0.23s ease, transform 0.23s ease;

    &:hover, &:focus {
      color: $brand-black;
      outline: 0;
    }

    &.button-primary {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary;

      &:hover, &:focus, &:active {
        background-color: $button-primary-hover;
        border-color: $button-primary-hover;
      }
    }

    &.button-full {
      width: 100%;
    }

    &[disabled] {
      opacity: 0.5;

      &:active, &:hover, &:focus {
        transform: none;
      }
    }

    &:active {
      transform: translateY(2px);
    }
  }

  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $light-grey;
    font-size: 1.5rem;
    padding: 15px 0;
    height: auto;
    display: block;
    width: 100%;
    line-height: 1;
    background: transparent;
    transition: border-color 0.23s ease;
    /* Removes awkward default styles on some inputs for iOS */
    appearance: none;

    &.error {
      border-color: $brand-red;
    }

    &:focus {
      border-color: $brand-primary;
      outline: 0;
    }
  }

  textarea {
    border: 1px solid $light-grey;
    min-height: 40px;
    padding: 10px;
    border-radius: 3px;
    resize: vertical;
  }

  textarea::placeholder,
  input::placeholder {
    opacity: 0.5;
  }

  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  fieldset {
    padding: 0;
    border-width: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
  }
}
