/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$brand-primary    : #009fe8;
$brand-dark-blue  : #0669de;
$brand-yellow     : #f8df64;
$brand-black      : #333945;
$brand-red        : #F44336;
$border-color     : #DCDCDC;
$background-grey  : #f6f8fd;
$text-color       : #a8a9aa;
$title-color      : #2a2d33;
$dark-grey        : #68647A;
$light-grey       : #BDC7CF;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$droid-font: 'Droid Serif', serif;
$lato-font: 'Lato', sans-serif;

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$container-max: 1000px;
$container-max-small: 840px;

// Spacing units for padding and margins
$base-spacing-unit: 30px !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$quarter-spacing-unit: $base-spacing-unit / 4 !default;

// Breakpoints
$bp-mobile-xs : 321px;
$bp-mobile    : 767px;
$bp-tablet    : 992px;
$bp-desktop   : 1200px;

$bp-larger-than-mobile    : "min-width:" + $bp-mobile;
$bp-larger-than-tablet    : "min-width:" + $bp-tablet;
$bp-larger-than-desktop   : "min-width:" + $bp-desktop;

$bp-smaller-than-mobile-xs : "max-width:" + $bp-mobile-xs;
$bp-smaller-than-mobile    : "max-width:" + $bp-mobile;
$bp-smaller-than-tablet    : "max-width:" + $bp-tablet;
$bp-smaller-than-desktop   : "max-width:" + $bp-desktop;
