# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
/ios
/android

# Metro / caches
.cache/
.metro-health-check*

# Debug
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
