@import '../../theme/variables';
@import '../../theme/animations';
@import '../../theme/forms';

$header-bg-color: #F2F2F3;
$body-bg-color: #FFF;

.login {
  &Form {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    box-shadow: 0 15px 40px 2px rgba(123, 123, 123, 0.5);
    border-radius: 3px;
    animation: fadeInUp 0.5s cubic-bezier(0.25, 0.46, 0.7, 1);
    animation-fill-mode: forwards;
    z-index: 1;
  }

  &FormHeader {
    padding: 40px 50px 15px;
    background-color: $header-bg-color;
    text-align: center;
  }

  &FormBody {
    padding: 30px 50px;
    background-color: $body-bg-color;
  }

  &FormInputWrapper {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  &FormSubmit {
    margin-top: 30px;
    width: 100%;
  }

  &InputErrorMessage {
    color: $brand-red;
    position: absolute;
    right: 0;
    margin-top: 10px;
    font-size: 10px;
  }

  &ErrorMessage {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 100px;
    padding: 10px;
    color: $brand-red;
    animation: fadeInDown 0.3s cubic-bezier(.82, 0, .12, 1.4);
    animation-fill-mode: forwards;
  }
}
