@import '../../theme/variables';
@import '../../theme/animations';
@import '../../theme/forms';

$header-bg-color: #F2F2F3;
$body-bg-color: #FFF;

.login {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-image: url('./login-bg.jpeg');
  background-repeat: no-repeat;
}
