/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$brand-primary    : #107EB1;
$brand-black      : #3b475f;
$brand-teal       : #25bfa9;
$border-color     : #e5e5e9;
$background-grey  : #f6f8fd;
$text-color       : #818c98;
$title-color      : #3b475f;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$montserrat-font: 'Montserrat', sans-serif;
$opensans-font: 'Open Sans', sans-serif;

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$container-max: 1100px;

// Spacing units for padding and margins
$base-spacing-unit: 20px !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$quarter-spacing-unit: $base-spacing-unit / 4 !default;

// Breakpoints
$bp-mobile-xs : 321px;
$bp-mobile    : 767px;
$bp-tablet    : 992px;
$bp-desktop   : 1200px;

$bp-larger-than-mobile    : "min-width:" + $bp-mobile;
$bp-larger-than-tablet    : "min-width:" + $bp-tablet;
$bp-larger-than-desktop   : "min-width:" + $bp-desktop;

$bp-smaller-than-mobile-xs : "max-width:" + $bp-mobile-xs;
$bp-smaller-than-mobile    : "max-width:" + $bp-mobile;
$bp-smaller-than-tablet    : "max-width:" + $bp-tablet;
$bp-smaller-than-desktop   : "max-width:" + $bp-desktop;
