@import '../../theme/variables';

$font-size: 1.6rem;
$line-height: 1.7;
$lines-to-show: 3;

.post {
  padding: 30px;
  border-bottom: 1px solid $border-color;

  &Tag {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #009fe8;
    font-size: 1.1rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1.5rem;
  }

  &Title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &Content {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
  }

  &Author {
    color: $title-color;
  }
}
