@import "tailwindcss" source("../../../../../");

@import "tw-animate-css";

:root {
    --background: hsl(13 60% 56%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(13 55% 50%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(13 55% 50%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(13 60% 30%);
    --secondary: hsl(13 45% 45%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(13 45% 45%);
    --muted-foreground: hsl(13 20% 80%);
    --accent: hsl(13 45% 45%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(13 45% 48%);
    --input: hsl(13 45% 48%);
    --ring: hsl(13 30% 80%);
    --radius: 0.3rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --radius-radius: var(--radius);

}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--border, currentColor);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
