/**
 * Layout
 */
.container,
.container-small,
.container-xsmall {
  max-width: var(--container-max);
  margin: 0 auto;
}

.container-small {
  max-width: var(--container-max-small);
}

.container-xsmall {
  max-width: var(--container-max-xsmall);
}

.padded-page {
  padding: 150px 20px 20px;
}

.loading-bar {
  opacity: 1;
  position: absolute;
  top: 0;
  background: linear-gradient(
    90deg,
    var(--brand-primary) 0,
    var(--brand-dark-blue) 50%,
    var(--brand-primary)
  );
  background-size: 400% 400%;
  height: 3px;
  animation: loading-bar 1s linear infinite;
  transition: transform 0.8s linear, opacity 0.4s;
}

@keyframes loading-bar {
  0% {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

/**
 * Typography
 */
.section-title {
}

.section-subtitle {
  font-family: var(--pxn-font);
  text-transform: uppercase;
  color: var(--brand-primary);
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

/**
 * Helper classes
 */
.margin-bot-10 {
  margin-bottom: 10px;
}

.margin-bot-20 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}
