:root {
  /* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  --brand-primary: #009fe8;
  --brand-dark-blue: #0669de;
  --brand-yellow: #f8df64;
  --brand-black: #273e4b;
  --brand-red: #f44336;

  /* Text colors */
  --text-color: #425a70;
  --title-color: #234361;

  /* Background Colors */
  --border-color: #edebeb;
  --background-grey: #f6f9fa;
  --background-black: #1e2430;

  /* Neutral Scales */
  --color-n-1: #f9f9fb;
  --color-n-2: #f5f6f7;
  --color-n-3: #edf0f2;
  --color-n-4: #e4e7eb;
  --color-n-5: #c7ced4;
  --color-n-6: #a6b1bb;
  --color-n-7: #7b8b9a;
  --color-n-8: #66788a;
  --color-n-9: #425a70;
  --color-n-10: #234361;

  /* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  --ssp-font: 'Source Serif Pro', serif;
  --pxn-font: 'Proxima Nova', 'Helvetica Neue', sans-serif;

  /* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  --container-max: 1000px;
  --container-max-small: 840px;
  --container-max-xsmall: 600px;

  /* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  --bp-mobile-xs: 321px;
  --bp-mobile: 767px;
  --bp-tablet: 992px;
  --bp-desktop: 1200px;
}
